html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}
.message {
  font-family: "Great Vibes";
  color: white;
  position: absolute;
  font-size: 95px;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 50;
  margin: auto auto;
  line-height: 200px;
  text-align: center;
  display: none;
}
.button {
  background-color: rgb(151, 151, 151);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 60px;
  color: white;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(151, 151, 151, 0.64);
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1000;
  margin-top: 50px;
}

.button:hover {
  background-color: #b6b6b6;
}

.button:active {
  background-color: #b6b6b6;
  transform: translate(-50%, -45%);
}

.happy-birthday {
  font-family: "Great Vibes";
  font-size: 95px;
  margin-top: 50px;
}
.hide {
  display: none;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-message {
  padding: 200px;
  position: relative;
  font-size: 50px;
  font-family: "Trebuchet MS", "Times New Roman", Times, serif;
  line-height: 60px;
  padding: 25px;
  text-align: center;
  z-index: 50;
  color: white;
  overflow: auto;
  height: 100%;
}
canvas {
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: 100;
  position: absolute;
}

#confetti {
  display: none;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(../img/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(../img/twinkling.png) repeat top center;
  z-index: 1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url(../img/clouds3.png) repeat top center;
  z-index: 3;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}
